.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #353b40;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.div1 {
  display: flex;
}
.div2 {
  display: flex;
}
.div4 {
  display: flex;
}
.div4 {
  display: flex;
}
.h1-1 {
  color: #1e2043;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h1-2 {
  color: #8b7ff8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-1 {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.text-2 {
color: #8b7ff8;
background: #d1ccfe;
text-align: center;
font-size: 15px;
width: 100px;
}
.text-4 {
  text-align: center;
}