.App {
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #353b40;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* DIVS */

.div1 {
  display: flex;
  justify-content: space-between;
}
.div2 {
  display: flex;
  background: #f9fafb;
}
.div4 {
  display: flex;
  justify-content: center;
}
.div4 {
  display: flex;
}



/* RANDOM */

.button1 {
  background: #8b7ff8;
  color: white;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 5px;
}
.arrow {
  height: 20px;
  width: 20px;
  color: white;
}
.input-1 {
  width: 500px;
  text-decoration: none;
  color: #949494;
}


/* IMAGENS */

.img-1 {
  height: 550px;
  width: 550px;
}
.img-2 {
  height: 550px;
  width: 550px;
}
.img-3 {
  display: flex;
  height: 500px;
  width: 500px;
  justify-content: left !important;
}
.img-4-1 {
  display: flex;
  height: 300px;
  width: 300px;
}
.mobile {
height: 15px;
width: 15px;
}
.mobileBackgroud {
  background: #8b7ff8;
  border-radius: 11px;
  padding: 2px;
  align-items: center;
}

/* TEXT */

.subtitle1 {
  color: #8b7ff8;
  background: #d1ccfe;
  text-align: center;
  font-size: 15px;
  width: 100px;
  }
  .subtitle2 {
  color: #8b7ff8;
  background: #d1ccfe;
  text-align: center;
  font-size: 15px;
  height: 22px;
  padding: 0px 20px 0px 20px;
  }
  .subtitle3 {
  color: #8b7ff8;
  background: #d1ccfe;
  text-align: center;
  font-size: 15px;
  padding: 0px 15px 0px 15px;
  display: inline-block;
  }

.textInfo {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.textInfoFoot {
  text-align: center;
}
.textFrontend {
  font-size: 30px;
  color: #255983;
}
.textWebsite {
  font-size: 16px;
  color: #666666;
}
.textSistema {
  font-size: 16px;
  color: #255983;
}
.textMobile {
  font-size: 16px;
  color: #1e2043;
}
.textClientes {
  font-weight: bold;
  font-size: 30px;
  color: #1e2043;
  font-family: 'Playfair display'
}
.textConversar {
  font-weight: bold;
  font-size: 30px;
  color: #1e2043;
  font-family: 'Playfair display'
}
.textProject {
  font-weight: bold;
  font-size: 30px;
  color: #8b7ff8;
}
.textBarra {
  font-weight: bold;
  font-size: 30px;
  color: #b2b2b2;
}
.textBrasil {
  font-size: 20px;
  color: #b3b3b3;
}
.textEmail {
font-size: 25px;
font-weight: bold;
}
.textProjeto {
  font-size: 15px;
  color: #6a6a6a;
}
.textNumero {
  font-size: 20px;
  color: #6a6a6a;
}

.h1-1 {
  color: #1e2043;
  font-family: 'Playfair display'
}
.h1-2 {
  color: #8b7ff8;
  font-family: 'Playfair display'
}
.h1-3 {
  color: #1e2043;
  font-size: 40px;
  font-family: 'Playfair display'
}
.h1-4 {
  color: #1e2043;
  font-size: 40px;
  font-family: 'Playfair display'
}