.App {
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #353b40;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* DIVS */

.div1 {
  display: flex;
  justify-content: space-between;
}
.div2 {
  display: flex;
}
.div4 {
  display: flex;
  justify-content: center;
}
.div4 {
  display: flex;
}



/* RANDOM */

.button1 {
  background: #8b7ff8;
  color: white;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 5px;
}
.arrow {
  height: 20px;
  width: 20px;
  color: white;
}
.input-1 {
  width: 500px;
  text-decoration: none;
  color: #949494;
}


/* IMAGENS */

.img-1 {
  height: 550px;
  width: 550px;
}
.img-2 {
  height: 550px;
  width: 550px;
}
.img-3 {
  display: flex;
  height: 500px;
  width: 500px;
  justify-content: left !important;
}
.img-4-1 {
  display: flex;
  height: 300px;
  width: 300px;
  
}


/* TEXT */

.subtitle1 {
  color: #8b7ff8;
  background: #d1ccfe;
  text-align: center;
  font-size: 15px;
  width: 100px;
  }
  .subtitle2 {
  color: #8b7ff8;
  background: #d1ccfe;
  text-align: center;
  font-size: 15px;
  height: 22px;
  padding: 0px 20px 0px 20px;
  }
  .subtitle3 {
  color: #8b7ff8;
  background: #d1ccfe;
  text-align: center;
  font-size: 15px;
  padding: 0px 15px 0px 15px;
  display: inline-block;
  }

.text-1 {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.text-4 {
  text-align: center;
}
.text-6 {
  font-size: 30px;
  color: #255983;
}
.text-7 {
  font-size: 16px;
  color: #666666;
}
.text-8 {
  font-size: 16px;
  color: #255983;
}
.text-12 {
  font-weight: bold;
  font-size: 30px;
  color: #1e2043;
}
.text-13 {
  font-weight: bold;
  font-size: 30px;
  color: #8b7ff8;
}
.text-14 {
  font-weight: bold;
  font-size: 30px;
  color: #b2b2b2;
}
.text-15 {
  font-size: 20px;
  color: #b3b3b3;
}
.text-16 {
font-size: 25px;
font-weight: bold;
}
.text-17 {
  font-size: 20px;
  color: #6a6a6a;
}

.h1-1 {
  color: #1e2043;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h1-2 {
  color: #8b7ff8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h1-3 {
  color: #1e2043;
  font-size: 40px;
}
.h1-4 {
  color: #1e2043;
  font-size: 40px;
}